html {
  background: url(https://images.unsplash.com/photo-1513968917887-08e7f67dfb3f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1048&q=80)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

img {
  border-radius: 15px;
  width: 100%;
  padding: 10px;
}

/* menu stuff */

.food-course {
  font-weight: bold;
  padding-bottom: 10px;
  text-decoration: underline;
  font-size: 20px;
}

.name-and-price {
  display: table;
  width: 100%;
  padding-top: 2px;
  padding-bottom: 5px;
  border-bottom: 1px solid grey;
}

.item-price {
  text-align: right;
  color: white;
}

#beer {
  max-width: 400px;
  border-radius: 25px;
}

#draft-text {
  font-size: 30px;
  text-align: center;
  padding: 10px;
  color: black;
}

#bottle-text {
  font-size: 25px;
  text-align: center;
  padding: 2px;
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.img-outer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: url(https://images.pexels.com/photos/8892/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
    no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 25px;
  border-radius: 15px;
  margin: 20px;
}

.parchment-outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(https://images.pexels.com/photos/235985/pexels-photo-235985.jpeg?auto=compress&cs=tinysrgb&h=650&w=940)
    no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 300px;
  padding: 25px;
  border-radius: 15px;
  margin: 20px;
}

.img-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(https://images.unsplash.com/photo-1617957718645-7680362d6312?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80)
    no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 25px;
  width: 50%;
  /* width: 200px; */
  border-radius: 15px;
  margin: 20px;
}

.textbox {
  background-color: orange;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}

.text {
  color: white;
  width: 100%;
  text-align: center;
}

h3 {
  margin: 0px 0px;
  font-size: 24px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  margin: 0px 0px 0px 12px;
}
