html {
  background: url(https://images.unsplash.com/photo-1513968917887-08e7f67dfb3f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1048&q=80)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

img {
  border-radius: 15px;
  width: 100%;
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.img-outer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: url(https://images.unsplash.com/photo-1582683522098-72ad7b0883a2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=968&q=80)
    no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 25px;
  /* width: 50%; */
  width: 200px;
  border-radius: 15px;
  margin: 20px;
}

.img-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(https://images.unsplash.com/photo-1582683522098-72ad7b0883a2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=968&q=80)
    no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 25px;
  width: 50%;
  /* width: 200px; */
  border-radius: 15px;
  margin: 20px;
}

.textbox {
  background-color: orange;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}

.text {
  color: white;
  width: 100%;
  text-align: center;
}

h3 {
  margin: 0px 0px;
  font-size: 24px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  margin: 0px 0px 0px 12px;
}
