html {
  background: url(https://i.pinimg.com/originals/ad/a9/eb/ada9eb4f19d7f2bb3dbd8f76a7d6e606.jpg)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

img {
  border-radius: 15px;
  width: 100%;
  padding: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.img-outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(https://lh3.googleusercontent.com/proxy/qzkQDQ0JEcFHJBCb8u-luir4snwThzJl6yqAeOxMMh-eXD_uxuZITkyv63G8P_wEA49N4lRCs__8xTBepNgLUGKEA9ttSOBWRwh7-Q)
    no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 25px;
  /* width: 50%; */
  width: 200px;
  border-radius: 15px;
  margin: 20px;
}

.img-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(https://lh3.googleusercontent.com/proxy/qzkQDQ0JEcFHJBCb8u-luir4snwThzJl6yqAeOxMMh-eXD_uxuZITkyv63G8P_wEA49N4lRCs__8xTBepNgLUGKEA9ttSOBWRwh7-Q)
    no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 25px;
  width: 50%;
  /* width: 200px; */
  border-radius: 15px;
  margin: 20px;
}

.textbox {
  background-color: orange;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}

.text {
  color: white;
  width: 100%;
  text-align: center;
}

h3 {
  margin: 0px 0px;
  font-size: 24px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  margin: 0px 0px 0px 12px;
}
